.container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  --width: var(--width-general);
  --height: var(--height-general);
  width: var(--width);
  height: var(--height);
  transition: width 1s ease;
  transform-style: preserve-3d;
  border-radius: 3px;
  --time: calc(var(--total) * 4.5s);
  --perspective: calc(var(--total) * 200px);
  animation: animate var(--time) linear infinite;
}

@media screen and (max-width: 500px) {
  .main {
    animation: animateMobile var(--time) linear infinite;
  }
}



@keyframes animateMobile {
  0% {
    transform: perspective(var(--perspective)) rotateX(0deg);
  }
  100% {
    transform: perspective(var(--perspective)) rotateX(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotateX(-10deg) perspective(var(--perspective)) rotateY(0deg);
  }
  100% {
    transform: rotateX(-10deg) perspective(var(--perspective)) rotateY(360deg);
  }
}

.main span {
  position: absolute;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  --rotate-element: calc(360deg / (var(--total)));
  --distance-element: calc((var(--width) * ((var(--total)) / 6.28)));
  transition: transform 1s ease;
  transform: rotateY(calc(var(--i) * var(--rotate-element))) translateZ(var(--distance-element));
}

.containerAllCarousel{
  width: calc((var(--width) * (var(--total))));
}
.categoryAndListSelected {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}
.categoryAndListSelectedElem {
  padding: 20px;
}

.categoryAndListSelectedElem:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-out;
  cursor: pointer;
}

.main:hover {
  transition: animation 1s ease;
  animation-play-state: paused;
}
.main:hover .categoryAndListSelected {
  transition: animation 1s ease;
  animation-play-state: paused;
}

.h1 {
  position: absolute;
  text-align: center;
  color: white;
}

.containerDimensions {
  position: absolute;
  z-index: 99999999;
  width: 350px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.containerInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.numberInput {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 5px;
  color: white;
}

.label {
  color: white;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: rgb(19, 120, 214);
  position: absolute;
  right: 50%;
  top: 50%;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

